packaging_format = 2

id = "cyberchef"
name = "CyberChef"
description.en = "Cyber Swiss Army Knife - toolbox for data analysis"
description.fr = "Cyber-couteau suisse - boîte à outils pour l'analyse de données"

version = "10.22.1~ynh1"

maintainers = ["oleole39"]

[upstream]
license = "Apache-2.0"
demo = "https://gchq.github.io/CyberChef"
userdoc = "https://github.com/gchq/CyberChef/wiki"
code = "https://github.com/gchq/CyberChef"
cpe = "cpe:2.3:a:gchq:cyberchef"

[integration]
yunohost = ">= 12.1.38"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "50M"
ram.build = "50M"
ram.runtime = "20M"


[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/cyberchef"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]

    [resources.sources]

        [resources.sources.main]
        url = "https://github.com/gchq/CyberChef/releases/download/v10.22.1/CyberChef_v10.22.1.zip"
        sha256 = "0350fcf57435539622762b6c38eff6dc92def7a9667b7738c4ae0df76cfcfcaa"
        format = "zip"
        extract = true
        in_subdir = false
        autoupdate.strategy = "latest_github_release"
        autoupdate.asset = "CyberChef_.*zip"

    [resources.system_user]

    [resources.install_dir]
    group = "www-data:r-x"

    [resources.permissions]
    main.url = "/"

    [resources.ports]
